<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.snippets</string>
	<key>connections</key>
	<dict>
		<key>795EBA38-D286-4C40-8DEC-9C92AAEF33B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C919C3EC-CEDF-4E91-A304-1AA3CBF908AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B1259DC8-E4F9-4EBE-B6F3-80F71973297F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C919C3EC-CEDF-4E91-A304-1AA3CBF908AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C919C3EC-CEDF-4E91-A304-1AA3CBF908AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F64E4EDF-406D-4DCA-BB3F-74542EFA5F98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Simple, document-specific text snippets (v. 1.0)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Snippets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python snippets.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C919C3EC-CEDF-4E91-A304-1AA3CBF908AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B1259DC8-E4F9-4EBE-B6F3-80F71973297F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F64E4EDF-406D-4DCA-BB3F-74542EFA5F98</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>snip</string>
				<key>subtext</key>
				<string>Ensure text is copied to Clipboard first!</string>
				<key>text</key>
				<string>Expand in-text snippets?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>795EBA38-D286-4C40-8DEC-9C92AAEF33B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>795EBA38-D286-4C40-8DEC-9C92AAEF33B6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>B1259DC8-E4F9-4EBE-B6F3-80F71973297F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C919C3EC-CEDF-4E91-A304-1AA3CBF908AC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F64E4EDF-406D-4DCA-BB3F-74542EFA5F98</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
